	table{
		

		width: 49%;
font-size: 20px;
font-family: "Roboto",sans-serif;
margin-top: 0px;
margin-bottom: 0px;


float: center;



	}
	h1{
		
		background-color: #B0C4DE;
	    
		color: white;
		border-radius: 8px;
		width: 44%;
	}
p{
	padding-top: 1em;
	padding-bottom: 3em;
}

	
	input[type='submit']{
		margin: 0;
		width: 130px;
		border:1.4px solid grey;
		background-color: #B0C4DE;
	}
	input{
		border-top: 1px ;
		border-left: 1px ;
		border-right: 1px ;
	    outline-style: 1px ;
	    border-bottom: 1px solid grey;
	    width: 54%;
	    
	    font-family: monospace;
	    font-size: 21px;

	}
	a{
		text-decoration: none;
	}
	